@use '../../../Public/SCSS/Utilities/Variables' as *;

.app-landing-container {
  .calendar {
    font-family: MADE Tommy Soft, Roboto Condensed, Purely Me, Verdana, Arial, Helvetica, sans-serif;
    .appoint-me-header {
      .icon-appoint-me-logo {
        font-size: 7rem;
      }

      &__title {
        font-size: 4rem;
      }
    }
    .appoint-me-container {
      &__heading {
        font-size: 3rem;
      }
      &__sub-container {
        &__heading {
          &__date {
            font-size: 1.6rem;
            text-align: center;
          }
          .select-date-button {
            font-size: 1.6rem;
            &__icon {
              font-size: 3rem;
            }
          }
        }
        &__calendar {
          .hour {
            &__time {
              font-size: 1.8rem;
            }

            &:hover {
              color: $colorOffWhite;
              .hour__time {
                color: $colorOffWhite;
              }
            }
          }

          .appointment {
            &__header {
              font-size: 1.2rem;
            }
            &--spacer {
              font-family: MADE Tommy Soft Medium, Roboto Condensed, Purely Me, Verdana, Arial, Helvetica, sans-serif;
              font-size: 1.1rem;
            }
          }
        }
        .modal {
          &-close-icon {
            font-size: 4rem;
          }

          &--select-date {
            &__header {
              font-size: 5rem;
            }
            &__sub-header {
              font-size: 1.6rem;
            }

            &__header,
            &__sub-header {
              font-weight: bold;
            }
            &__date-picker-container {
              input,
              select {
                font-size: 2rem;
              }
            }

            .button {
              &--modal {
                font-size: 2rem;
              }
            }
          }
          &--select-time {
            &__header {
              font-size: 2.6rem;
              font-weight: bold;
              text-align: center;
            }
            &__sub-header {
              font-size: 2rem;
            }
            .form {
              &__input {
                font-size: 2rem;
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                font-size: 2rem;
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }
              &__label {
                font-size: 2rem;
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  font-size: 2rem;
                  font-variant: small-caps;
                }

                &__tod {
                  font-size: 2rem;
                }
                .colon {
                  font-size: 2rem;
                }

                &--commPreference {
                  font-size: 2rem;
                }
              }
              &--appointment {
                .communication-preference-header {
                  font-size: 2.6rem;
                  font-weight: bold;
                  text-align: center;
                }

                .button {
                  &--modal {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.app-landing-container {
  .blue-and-white {
    .appoint-me-header {
      .icon-appoint-me-logo {
        color: $colorOffWhite;
      }
      &__title {
        color: $colorOffWhite;
      }
    }
    .appoint-me-container {
      &__heading {
        color: $colorOffWhite;
      }
      &__sub-container {
        &__heading {
          &__date {
            color: $primaryColor;
          }
          .select-date-button {
            color: rgba($primaryColor, 0.5);
          }
        }
        &__calendar {
          .hour {
            &__time {
              color: rgba($primaryColorDark, 0.8);
            }
          }
          .blacked-out {
            color: $colorLightestGrey;
            .hour__time {
              color: $colorOffWhite;
            }
          }

          .appointment {
            &__header {
              color: rgba($colorOffWhite, 0.8);
            }
          }
        }
        .modal {
          &-close-icon {
            color: rgba($colorOffWhite, 0.8);
            &:hover {
              color: $colorOffWhite;
            }
          }
          &--select-date {
            &__header,
            &__sub-header {
              color: $colorOffWhite;
            }
            &__date-picker-container {
              input,
              select {
                color: rgba($colorOffWhite, 0.8);
                text-align: center;
                &:focus {
                  color: $colorOffWhite;
                }
              }
            }

            .button {
              &--modal {
                color: rgba($colorOffWhite, 0.8);
                &:hover {
                  color: $primaryColor;
                }
              }
            }
          }
          &--select-time {
            &__header {
              color: $colorOffWhite;
            }
            &__sub-header {
              color: $colorOffWhite;
            }
            .form {
              &__input {
                color: rgba($colorOffWhite, 0.8);
                &:focus {
                  color: $colorOffWhite;
                  .form__label {
                    color: $colorOffWhite;
                  }
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                color: rgba($colorOffWhite, 0.8);
                &:focus {
                  color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                  option {
                    color: $primaryColor;
                  }
                }
                .blacked-out {
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__label {
                color: rgba($colorOffWhite, 0.8);
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  color: $colorOffWhite;
                }
                .colon {
                  color: $colorOffWhite;
                }
                &__tod {
                  color: $colorOffWhite;
                }
                &--commPreference {
                  color: $colorOffWhite;
                  label.clicked {
                    color: $primaryColor;
                  }
                }
              }
              &--appointment {
                .communication-preference-header {
                  color: $colorOffWhite;
                }
                .button {
                  &--modal {
                    color: rgba($colorOffWhite, 0.8);
                    &:hover {
                      color: $primaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .blue-and-black {
    .appoint-me-header {
      .icon-appoint-me-logo {
        color: $colorDarkestGrey;
      }
      &__title {
        color: $colorDarkestGrey;
      }
    }
    .appoint-me-container {
      &__heading {
        color: $colorDarkestGrey;
      }
      &__sub-container {
        &__heading {
          &__date {
            color: $secondaryColor;
          }
          .select-date-button {
            color: rgba($secondaryColor, 0.5);
          }
        }
        &__calendar {
          .hour {
            &__time {
              color: rgba($secondaryColorDark, 0.8);
            }
            &:hover {
              .hour__time {
                color: $colorDarkerGrey;
              }
            }
          }
          .blacked-out {
            color: $colorLightestGrey;
            .hour__time {
              color: $colorDarkestGrey;
            }
          }
        }
        .modal {
          &-close-icon {
            color: rgba($colorDarkerGrey, 0.8);
            &:hover {
              color: $colorDarkerGrey;
            }
          }
          &--select-date {
            &__header,
            &__sub-header {
              color: $colorDarkerGrey;
            }
            &__date-picker-container {
              input,
              select {
                color: rgba($colorDarkerGrey, 0.8);
                text-align: center;
                &:focus {
                  color: $colorDarkerGrey;
                }
              }
            }

            .button {
              &--modal {
                color: rgba($colorDarkerGrey, 0.8);
                &:hover {
                  color: $secondaryColor;
                }
              }
            }
          }
          &--select-time {
            &__header {
              color: $colorDarkerGrey;
            }
            &__sub-header {
              color: $colorDarkerGrey;
            }
            .form {
              &__input {
                color: rgba($colorDarkerGrey, 0.8);
                &:focus {
                  color: $colorDarkerGrey;
                  .form__label {
                    color: $colorDarkerGrey;
                  }
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                color: rgba($colorDarkerGrey, 0.8);
                &:focus {
                  color: $colorDarkerGrey;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                  option {
                    color: $secondaryColor;
                  }
                }
                .blacked-out {
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__label {
                color: rgba($colorDarkerGrey, 0.8);
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  color: $colorDarkerGrey;
                }
                .colon {
                  color: $colorDarkerGrey;
                }
                &__tod {
                  color: $colorDarkerGrey;
                }
                &--commPreference {
                  color: $colorDarkerGrey;
                  label.clicked {
                    color: $secondaryColor;
                  }
                }
              }
              &--appointment {
                .communication-preference-header {
                  color: $colorDarkerGrey;
                }
                .button {
                  &--modal {
                    color: rgba($colorDarkerGrey, 0.8);
                    &:hover {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .green-and-white {
    .appoint-me-header {
      .icon-appoint-me-logo {
        color: $colorOffWhite;
      }
      &__title {
        color: $colorOffWhite;
      }
    }
    .appoint-me-container {
      &__heading {
        color: $colorOffWhite;
      }
      &__sub-container {
        &__heading {
          &__date {
            color: $secondaryColor;
          }
          .select-date-button {
            color: rgba($secondaryColor, 0.5);
          }
        }
        &__calendar {
          .hour {
            &__time {
              color: rgba($secondaryColorDark, 0.8);
            }
          }
          .blacked-out {
            color: $colorLightestGrey;
            .hour__time {
              color: $colorOffWhite;
            }
          }
        }
        .modal {
          &-close-icon {
            color: rgba($colorOffWhite, 0.8);
            &:hover {
              color: $colorOffWhite;
            }
          }
          &--select-date {
            &__header,
            &__sub-header {
              color: $colorOffWhite;
            }
            &__date-picker-container {
              input,
              select {
                color: rgba($colorOffWhite, 0.8);
                text-align: center;
                &:focus {
                  color: $colorOffWhite;
                }
              }
            }

            .button {
              &--modal {
                color: rgba($colorOffWhite, 0.8);
                &:hover {
                  color: $secondaryColor;
                }
              }
            }
          }
          &--select-time {
            &__header {
              color: $colorOffWhite;
            }
            &__sub-header {
              color: $colorOffWhite;
            }
            .form {
              &__input {
                color: rgba($colorOffWhite, 0.8);
                &:focus {
                  color: $colorOffWhite;
                  .form__label {
                    color: $colorOffWhite;
                  }
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                color: rgba($colorOffWhite, 0.8);
                &:focus {
                  color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                  option {
                    color: $secondaryColor;
                  }
                }
                .blacked-out {
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__label {
                color: rgba($colorOffWhite, 0.8);
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  color: $colorOffWhite;
                }
                .colon {
                  color: $colorOffWhite;
                }
                &__tod {
                  color: $colorOffWhite;
                }
                &--commPreference {
                  color: $colorOffWhite;
                  label.clicked {
                    color: $secondaryColor;
                  }
                }
              }
              &--appointment {
                .communication-preference-header {
                  color: $colorOffWhite;
                }
                .button {
                  &--modal {
                    color: rgba($colorOffWhite, 0.8);
                    &:hover {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .green-and-black {
    .appoint-me-header {
      .icon-appoint-me-logo {
        color: $colorDarkestGrey;
      }
      &__title {
        color: $colorDarkestGrey;
      }
    }
    .appoint-me-container {
      &__heading {
        color: $colorDarkestGrey;
      }
      &__sub-container {
        &__heading {
          &__date {
            color: $secondaryColor;
          }
          .select-date-button {
            color: rgba($secondaryColor, 0.5);
          }
        }
        &__calendar {
          .hour {
            &__time {
              color: rgba($secondaryColorDark, 0.8);
            }
            &:hover {
              .hour__time {
                color: $colorDarkerGrey;
              }
            }
          }
          .blacked-out {
            color: $colorLightestGrey;
            .hour__time {
              color: $colorDarkestGrey;
            }
          }
        }
        .modal {
          &-close-icon {
            color: rgba($colorDarkerGrey, 0.8);
            &:hover {
              color: $colorDarkerGrey;
            }
          }
          &--select-date {
            &__header,
            &__sub-header {
              color: $colorDarkerGrey;
            }
            &__date-picker-container {
              input,
              select {
                color: rgba($colorDarkerGrey, 0.8);
                text-align: center;
                &:focus {
                  color: $colorDarkerGrey;
                }
              }
            }

            .button {
              &--modal {
                color: rgba($colorDarkerGrey, 0.8);
                &:hover {
                  color: $secondaryColor;
                }
              }
            }
          }
          &--select-time {
            &__header {
              color: $colorDarkerGrey;
            }
            &__sub-header {
              color: $colorDarkerGrey;
            }
            .form {
              &__input {
                color: rgba($colorDarkerGrey, 0.8);
                &:focus {
                  color: $colorDarkerGrey;
                  .form__label {
                    color: $colorDarkerGrey;
                  }
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                color: rgba($colorDarkerGrey, 0.8);
                &:focus {
                  color: $colorDarkerGrey;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                  option {
                    color: $secondaryColor;
                  }
                }
                .blacked-out {
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__label {
                color: rgba($colorDarkerGrey, 0.8);
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  color: $colorDarkerGrey;
                }
                .colon {
                  color: $colorDarkerGrey;
                }
                &__tod {
                  color: $colorDarkerGrey;
                }
                &--commPreference {
                  color: $colorDarkerGrey;
                  label.clicked {
                    color: $secondaryColor;
                  }
                }
              }
              &--appointment {
                .communication-preference-header {
                  color: $colorDarkerGrey;
                }
                .button {
                  &--modal {
                    color: rgba($colorDarkerGrey, 0.8);
                    &:hover {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gold-and-white {
    .appoint-me-header {
      .icon-appoint-me-logo {
        color: $colorOffWhite;
      }
      &__title {
        color: $colorOffWhite;
      }
    }
    .appoint-me-container {
      &__heading {
        color: $colorOffWhite;
      }
      &__sub-container {
        &__heading {
          &__date {
            color: $tertiaryColor;
          }
          .select-date-button {
            color: rgba($tertiaryColor, 0.5);
          }
        }
        &__calendar {
          .hour {
            &__time {
              color: rgba($tertiaryColorDark, 0.8);
            }
          }
          .blacked-out {
            color: $colorLightestGrey;
            .hour__time {
              color: $colorOffWhite;
            }
          }
        }
        .modal {
          &-close-icon {
            color: rgba($colorOffWhite, 0.8);
            &:hover {
              color: $colorOffWhite;
            }
          }
          &--select-date {
            &__header,
            &__sub-header {
              color: $colorOffWhite;
            }
            &__date-picker-container {
              input,
              select {
                color: rgba($colorOffWhite, 0.8);
                text-align: center;
                &:focus {
                  color: $colorOffWhite;
                }
              }
            }

            .button {
              &--modal {
                color: rgba($colorOffWhite, 0.8);
                &:hover {
                  color: $tertiaryColor;
                }
              }
            }
          }
          &--select-time {
            &__header {
              color: $colorOffWhite;
            }
            &__sub-header {
              color: $colorOffWhite;
            }
            .form {
              &__input {
                color: rgba($colorOffWhite, 0.8);
                &:focus {
                  color: $colorOffWhite;
                  .form__label {
                    color: $colorOffWhite;
                  }
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                color: rgba($colorOffWhite, 0.8);
                &:focus {
                  color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                  option {
                    color: $tertiaryColor;
                  }
                }
                .blacked-out {
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__label {
                color: rgba($colorOffWhite, 0.8);
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  color: $colorOffWhite;
                }
                .colon {
                  color: $colorOffWhite;
                }
                &__tod {
                  color: $colorOffWhite;
                }
                &--commPreference {
                  color: $colorOffWhite;
                  label.clicked {
                    color: $tertiaryColor;
                  }
                }
              }
              &--appointment {
                .communication-preference-header {
                  color: $colorOffWhite;
                }
                .button {
                  &--modal {
                    color: rgba($colorOffWhite, 0.8);
                    &:hover {
                      color: $tertiaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gold-and-black {
    .appoint-me-header {
      .icon-appoint-me-logo {
        color: $colorDarkestGrey;
      }
      &__title {
        color: $colorDarkestGrey;
      }
    }
    .appoint-me-container {
      &__heading {
        color: $colorDarkestGrey;
      }
      &__sub-container {
        &__heading {
          &__date {
            color: $tertiaryColor;
          }
          .select-date-button {
            color: rgba($tertiaryColor, 0.5);
          }
        }
        &__calendar {
          .hour {
            &__time {
              color: rgba($tertiaryColorDark, 0.8);
            }
            &:hover {
              .hour__time {
                color: $colorDarkerGrey;
              }
            }
          }
          .blacked-out {
            color: $colorLightestGrey;
            .hour__time {
              color: $colorDarkestGrey;
            }
          }
        }
        .modal {
          &-close-icon {
            color: rgba($colorDarkerGrey, 0.8);
            &:hover {
              color: $colorDarkerGrey;
            }
          }
          &--select-date {
            &__header,
            &__sub-header {
              color: $colorDarkerGrey;
            }
            &__date-picker-container {
              input,
              select {
                color: rgba($colorDarkerGrey, 0.8);
                text-align: center;
                &:focus {
                  color: $colorDarkerGrey;
                }
              }
            }

            .button {
              &--modal {
                color: rgba($colorDarkerGrey, 0.8);
                &:hover {
                  color: $tertiaryColor;
                }
              }
            }
          }
          &--select-time {
            &__header {
              color: $colorDarkerGrey;
            }
            &__sub-header {
              color: $colorDarkerGrey;
            }
            .form {
              &__input {
                color: rgba($colorDarkerGrey, 0.8);
                &:focus {
                  color: $colorDarkerGrey;
                  .form__label {
                    color: $colorDarkerGrey;
                  }
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }
              &__select {
                color: rgba($colorDarkerGrey, 0.8);
                &:focus {
                  color: $colorDarkerGrey;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                  option {
                    color: $tertiaryColor;
                  }
                }
                .blacked-out {
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__label {
                color: rgba($colorDarkerGrey, 0.8);
                &--email,
                &--phone {
                  @extend .form__label;
                }
              }

              &__section {
                &__to-header {
                  color: $colorDarkerGrey;
                }
                .colon {
                  color: $colorDarkerGrey;
                }
                &__tod {
                  color: $colorDarkerGrey;
                }
                &--commPreference {
                  color: $colorDarkerGrey;
                  label.clicked {
                    color: $tertiaryColor;
                  }
                }
              }
              &--appointment {
                .communication-preference-header {
                  color: $colorDarkerGrey;
                }
                .button {
                  &--modal {
                    color: rgba($colorDarkerGrey, 0.8);
                    &:hover {
                      color: $tertiaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.blue-and-white {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
  .form {
    &--declined {
      &__section {
        &__label {
          font-size: 3rem;
          color: $colorOffWhite;
        }
        &__input {
          font-size: 3rem;
          color: $colorOffWhite;
        }
      }
      &__message-input {
        font-size: 2rem;
        color: $secondaryColor;
      }
      &__button {
        font-size: 2rem;
        color: rgba($colorOffWhite, 0.8);
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}
.green-and-white {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.gold-and-white {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.blue-and-black {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.green-and-black {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.gold-and-black {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}

.appointment-declined-container {
  font-family: MADE Tommy Soft, Roboto Condensed, Purely Me, Verdana, Arial, Helvetica, sans-serif;
}
