section.two-factor-form-container.r__two-factor-form-container.closed
  header.two-factor-header.r__two-factor-header 
    p.two-factor-header__title.r__two-factor-header__title Submit Authentication Token
  form.form__two-factor-authentication.r__form__two-factor-authentication
    section.form__section--two-factor.r__form__section--two-factor 
      input.form__input--two-factor.r__form__input--two-factor#twoFactor(type="text" placeholder="Enter Token" name="twoFactor" required)
      label.form__label--two-factor.r__form__label--two-factor(for="twoFactor") Enter Token 
    section.form__section--two-factor.r__form__section--two-factor
      button.button--two-factor-submit.r__button--two-factor-submit Submit Token