@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

.r__master-grid-container {
  @include responsiveBreakPoint('largeTabPort') {
    .r__application-flex-container {
      .r__application-viewport {
        .r__application-display {
          .r__user-profile-section {
            &__header {
              &__text {
                font-size: 5rem;
              }
            }
          }
        }
      }
    }
    .r__form-container {
      .r__form {
        &__header {
          &__title {
            &--medium {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.r__form__header__title {
  @include responsiveBreakPoint('largeTabPort') {
    font-size: 7rem;
  }
}

////////////////////////////////////////////////
//  BUDGET CONTAINER
.r__budget-container {
  @include responsiveBreakPoint('largeTabPort') {
    &__navigation-button-container {
      font-size: 2rem;
    }
  }
}

.r__button {
  &--small {
    &-create-main-category {
      font-size: 1.6rem;
    }
  }
}

.r__navigation {
  &--side-screen {
    &__section {
      &--user-information {
        &__username {
          font-size: 3rem;
        }
      }
      &--application-logo {
        &__text {
          font-size: 2.6rem;
        }
      }
    }
  }
}

.r__container {
  &--extra-small {
    &__header {
      &__icon {
        font-size: 2rem;
      }
      &__text {
        font-size: 1.6rem;
      }
    }
    &__content {
      &__account-total {
        font-size: 3rem;
      }
    }
  }
}

.r__modal {
  &--receipt {
    &__closure-icon {
      @include responsiveBreakPoint('largeTabPort') {
        font-size: 6rem;
      }
    }
  }
}

// UPCOMING BILL CONTAINER
.upcoming-bills-container {
  &__titles {
    font-family: MADE Tommy Soft, Verdana, sans-serif;
    color: $colorOffWhite;
    &__title {
      font-size: 1.6rem;
    }
  }
  .upcoming-bills {
    font-family: MADE Tommy Soft, Verdana, sans-serif;
    &__bill {
      @include responsiveBreakPoint('largeTabPort') {
        font-size: 1.4rem;
        color: rgba($primaryColor, 0.8);
        &__bill-item {
          text-align: center;
          &:nth-of-type(5) {
            input[type='checkbox'] {
              font-size: 1.2rem;
              &::after {
                font-family: 'Font Awesome 6 Free';
                font-weight: 900;
              }
              &:checked {
                &:after {
                  color: $colorOffWhite;
                }
              }
            }
          }
        }
        &:hover {
          color: $colorOffWhite;
        }
      }
    }
  }
}
