@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

// TV TYPOGRAPHY
.r__grid {
  @include responsiveBreakPoint('tv') {
    // HOME PAGE
    .r__introduction-container {
      &__introduction {
        .r__name-container {
          .r__name {
            font-size: 12rem;
          }

          .r__headline {
            font-size: 3rem;
          }
        }
        .r__cta-container {
          .r__cta-link {
            font-size: 3rem;
          }
        }
      }
    }
    .r__latest-project {
      .r__connect--home {
        &__title {
          font-size: 4rem;
        }
        &__link {
          font-size: 7rem;
        }
      }
      &__project-view {
        &__header {
          &__title {
            font-size: 6rem;
          }
        }
      }
    }

    // BASIC ABOUT PAGE
    .r__about-link {
      &__icon {
        font-size: 45rem;
      }
      &__text {
        font-size: 8rem;
      }
    }

    // ABOUT PAGE -- FOUNDATION
    .r__foundation-container {
      &__icon-container {
        &__icon {
          font-size: 45rem;
        }
        &__title {
          font-size: 8rem;
        }
      }
      &__information {
        &__header {
          &__title {
            font-size: 12rem;
          }
          &__sub-title {
            font-size: 3rem;
          }
        }
        &__paragraph-container {
          font-size: 3rem;
        }
        &__link {
          font-size: 3rem;
        }
      }
    }

    // ABOUT PAGE -- INTERESTS
    .r__interests-container {
      &__quote-container {
        &__quote {
          font-size: 5rem;
          text-align: center;
          &__author {
            font-size: 3rem;
          }
        }
      }
      .r__interests-grid {
        .r__cylinder-wall {
          .button--control-flow {
            font-size: 4rem;
          }
        }
      }
    }

    .r__interests-contact-container {
      &__contact-link {
        font-size: 4rem;
      }
    }

    // ABOUT PAGE -- SKILLS
    .r__icon-container {
      &__icon {
        font-size: 45rem;
      }
      &__text {
        font-size: 8rem;
      }
    }
    .r__skills-container {
      .r__skills-link-container {
        .r__portfolio-link {
          &__text {
            font-size: 4rem;
          }
          &__icon {
            font-size: 4rem;
          }
        }
      }
    }

    // BLOG PAGE
    .r__blog {
      .r__blog-heading {
        &__title {
          font-size: 10rem;
        }
      }
    }

    // BLOG PAGE -- SINGLE POST

    .r__selected-blog-post {
      .r__blog-header {
        .r__blog-date {
          font-size: 4rem;
        }

        .r__blog-title {
          font-size: 12rem;
        }

        .r__blog-post-title {
          font-size: 7rem;
        }
      }
      .r__blog-content-container {
        .r__blog-content {
          .r__blog-paragraph {
            font-size: 3rem;
          }
        }
      }
    }

    // CONTACT ME
    .r__contact-me-section {
      .r__form {
        .r__form-section {
          .r__form-input {
            font-size: 2.4rem;
            &--name {
              @extend .r__form-input;
            }
          }
          .r__form-label {
            font-size: 2.4rem;
            &--name {
              @extend .r__form-label;
            }
          }
        }
        .r__form-section--message {
          .r__form-label--message {
            font-size: 1.92rem;
          }
          .r__form-input--message {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}
