@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

////////////////////////////////////////////////
//  Master Grid Container
.r__master-grid {
  .r__navigation {
    @include combo-max-responsive(800px, 375px) {
      grid-column: 1 / span 2;
      grid-row: 1 / -1;
      flex-direction: column;
      border: none;
      border-right: 0.4rem groove $colorDarkGrey;
      &__my-image {
        height: auto;
        width: 80%;
      }
      &__links {
        flex-direction: column;
      }
      &__my-logo {
        height: auto;
        width: 50%;
      }
    }
  }
}
