section.form__section--tithing.r__form__section--tithing
  input.form__input--tithing.r__form__input--tithing#grossOption(type="checkbox")
  label.form__label--tithing.r__form__label--tithing#grossOptionLabel(for="grossOption") Gross
  input.form__input--tithing.r__form__input--tithing#netOption(type="checkbox")
  label.form__label--tithing.r__form__label--tithing#netOptionLabel(for="netOption") Net
  input.form__input--tithing.r__form__input--tithing#surplusOption(type="checkbox")
  label.form__label--tithing.r__form__label--tithing#surplusOptionLabel(for="surplusOption") Surplus