@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

.r__navigation {
  @include responsiveBreakPoint('smallTabLand') {
    &--side-screen {
      opacity: 1;
      height: 20%;
      width: 100%;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      border-right: none;
      border-bottom: 0.5rem groove $tertiaryColor;

      &__section {
        height: 100%;
        width: 30%;
        flex-direction: row;
        &--user-information {
          height: 100%;
          width: 35%;
          flex-direction: row;
          &__profile-picture-container {
            height: 70%;
            width: auto;
            flex-direction: row;
            img {
              border-width: 0.3rem;
              margin-right: 0;
            }
          }
          &__update-picture-container {
            @include SizeAndPositioning(relative, max-content, max-content, flex, row, nowrap, space-evenly, center, 0, 0, 0);
          }
        }
        &--account-links {
          height: 100%;
          width: 40%;
          &__link-container {
            flex-flow: row wrap;
            justify-content: space-evenly;
            &__link {
              height: 35%;
              width: 47.5%;
              &:not(:last-of-type) {
                margin-bottom: 0rem;
              }
            }
          }
        }
        &--application-logo {
          height: 100%;
          width: 20%;
          flex-direction: column;
          justify-content: center;
          &__logo {
            height: 50%;
          }
        }
      }
    }
    &__link-list {
      @include SizeAndPositioning(relative, 85%, 70%, flex, column, nowrap, flex-start, center, 0, 5rem, 0);
      padding-top: 2rem;
      overflow-y: auto;
      &__list-item {
        @include SizeAndPositioning(relative, max-content, 60%, flex, row, nowrap, center, center, 0, 0, 0);
        min-height: 12.5%;
        &:first-of-type {
          margin-top: 0;
        }
        &:nth-of-type(4),
        &:nth-of-type(6),
        &:nth-of-type(8) {
          flex-direction: column;
          align-items: flex-end;
          padding-right: 2rem;
        }
        &:nth-of-type(4) {
          margin: 3.5rem 0 5rem;
        }
        &:nth-of-type(6) {
          min-height: 9%;
          margin: 0.5rem 0 2rem;
        }
        &:nth-of-type(8) {
          margin: 11rem 0 12.5rem;
        }
        margin: 0.5rem 0 2rem;
        &:last-of-type {
          margin-bottom: 0;
        }
        list-style: none;
        &__link,
        &__link-button {
          @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          min-height: 8.345rem;
          border-radius: 1.5rem;
          border: 0.3rem solid rgba($colorOffWhite, 0.8);
          background-color: rgba($primaryColorDarker, 0.8);
          &:hover {
            cursor: pointer;
            border: 0.3rem solid $colorOffWhite;
            background-color: $secondaryColor;
            transition: border 0.5s, background-color 0.5s, color 0.5s;
            .budget-navigation__link-list__link-item__sub-link-container__sub-link {
              transition: border 0.5s, background-color 0.5s, color 0.5s;
            }
          }
          &:active {
            background-color: $tertiaryColor;
            .budget-navigation__link-list__link-item__sub-link-container__sub-link {
              background-color: $tertiaryColor;
            }
          }
        }
        &__sub-link-container {
          @include SizeAndPositioning(relative, 6.676rem, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          min-height: 6.676rem;
          border-radius: 1.5rem;
          border: 0.3rem solid rgba($colorOffWhite, 0.8);
          background-color: rgba($primaryColorDarker, 0.8);
          margin: 0.5rem 0;
          &:hover {
            cursor: pointer;
            border: 0.3rem solid $colorOffWhite;
            background-color: $secondaryColor;
            transition: border 0.5s, background-color 0.5s, color 0.5s;
          }
          &:active {
            background-color: $tertiaryColor;
          }
          &__sub-link {
            @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          }
        }
      }
    }
  }
}
