@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

////////////////////////////////////////////////
//  Master Grid Container
.r__master-grid {
  .r__master-flex-container {
    /////////////////
    // Home Page
    @include combo-max-responsive(375px, 800px) {
      &__child-flex-container {
        @include SizeAndPositioning(relative, 50%, 95%, flex, center, center, 0, 0, 0);
        flex-direction: column;
        &__heading {
          @include SizeAndPositioning(relative, 80%, 100%, flex, space-evenly, center, 0, 0, 0);
          flex-direction: column;
          &--subtext-start {
            position: relative;
            align-self: flex-start;
            transform: translate(1.25rem, 6rem);
            -moz-transform: translate(0.75rem, 6rem);
          }
          &--subtext-end {
            position: relative;
            align-self: flex-end;
            transform: translate(-2.25rem, -7rem);
            -moz-transform: translate(-1.75rem, -7rem);
          }
        }
      }
    }
  }
}
