@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.form {
  @include SizeAndPositioning(relative, max-content, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);

  &__section {
    @include SizeAndPositioning(relative, 7rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    min-height: 7rem;
    &--names {
      @extend .form__section;
      &__half {
        @include SizeAndPositioning(relative, 100%, 50%, flex, column-reverse, nowrap, center, center, 0, 0, 0);
      }
    }
    &--phone,
    &--email {
      @extend .form__section;
      flex-direction: column-reverse;
    }

    .colon {
      margin: 0 0.5rem;
    }

    &__tod {
      margin: 0 0.5rem;
    }

    &--commPreference {
      @include SizeAndPositioning(relative, 8rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      margin-bottom: 3rem;
      input {
        appearance: none;
        -webkit-appearance: none;
        display: none;
      }
      label {
        @include SizeAndPositioning(relative, 100%, 40%, flex, row, nowrap, center, center, 0, 0, 0);
        padding: 2rem;
        &:first-of-type {
          border-top-left-radius: 0.9rem;
          border-bottom-left-radius: 0.9rem;
        }
        &:last-of-type {
          border-top-right-radius: 0.9rem;
          border-bottom-right-radius: 0.9rem;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__input {
    @include SizeAndPositioning(relative, 50%, 70%, flex, row, nowrap, flex-start, center, 0, 0, 0);
    padding: 0 0 0 0.5rem;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::placeholder {
      opacity: 0;
    }
    &:focus {
      &::-webkit-input-placeholder {
        opacity: 1;
      }
    }
    &:focus {
      outline: none;
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::placeholder {
        opacity: 1;
      }
      &:valid {
        border-bottom-color: $secondaryColor;
      }
      &:invalid {
        border-bottom-color: $colorError;
      }
    }
    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translate(-2rem, -4rem) scale(0.75);
    }

    &--hour,
    &--minute {
      @extend .form__input;
      width: 25%;
      padding: 0.5rem;
    }

    &--email,
    &--phone {
      @extend .form__input;
      &:not(:placeholder-shown) + label,
      &:focus + label {
        transform: translate(-4rem, -4rem) scale(0.75);
      }
    }
  }

  &__label {
    @include SizeAndPositioning(absolute, 50%, 70%, flex, row, nowrap, flex-start, center, 0, -51%, 0);
    padding: 0 0 0 0.5rem;
    top: 50%;
    transition: transform 0.5s, border 0.5s, color 0.5s;
    &--email,
    &--phone {
      @extend .form__label;
    }
  }

  &__select {
    border: none;
    background-color: transparent;
    &--hour,
    &--minute {
      @extend .form__select;
      padding: 0.5rem;
    }
    option.blacked-out {
      background-color: $colorDarkGrey;
    }
  }

  &--appointment {
    @extend .form;
    overflow-y: auto;
    .communication-preference-header {
      padding: 0 3rem;
      margin: 2rem 0 3rem;
    }
  }

  &--declined {
    @extend .form;
    height: 40%;
    &__section {
      @include SizeAndPositioning(relative, 20%, 100%, flex, row, nowrap, space-around, center, 0, 0, 0);
      padding: 0.5rem;
      margin-bottom: 1rem;
      &__label {
        @include SizeAndPositioning(relative, max-content, 20%, flex, row, nowrap, center, center, 0, 0, 0);
      }
      &__input {
        @include SizeAndPositioning(relative, max-content, 77.5%, flex, row, nowrap, flex-start, center, 0, 0, 0);
        padding-left: 1rem;
        &:focus {
          outline: none;
        }
      }
    }

    &__message-input {
      @include SizeAndPositioning(relative, 60%, 100%, flex, row, nowrap, flex-start, flex-end, 0, 0, 0);
      resize: none;
      padding: 0.5rem 0.75rem;
      background-color: transparent;
      border: none;
      border-radius: 0.5rem;
      &:focus {
        outline: none;
      }
    }

    &__button {
      @include SizeAndPositioning(relative, 20%, max-content, flex, row, nowrap, center, center, 0, 0, 0);
      padding: 1rem;
      background-color: transparent;
      border: none;
      margin-top: 2rem;
      border-radius: 0.9rem;
      &:hover {
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s, border 0.5s;
      }
    }
  }
}
