@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.app-landing-container {
  .blue-and-white {
    border-left: 0.3rem groove $primaryColorDark;
    border-right: 0.3rem groove $primaryColorDark;
    background-color: $primaryColorDark;
    .appoint-me-container {
      background-color: $primaryColor;
      &__sub-container {
        background-color: $colorOffWhite;
        &__heading {
          border-bottom: 0.3rem groove $primaryColorDark;
          .select-date-button {
            &:hover {
              background-color: $primaryColor;
              color: $colorOffWhite;
            }
          }
        }
        &__calendar {
          .hour {
            &:nth-of-type(2n) {
              background-color: rgba($primaryColorDark, 0.25);
            }
            &:nth-of-type(2n + 1) {
              .hour__time {
                background-color: rgba($colorOffWhite, 0.5);
              }
            }
            .one-hour {
              @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
            }
            .thirty-minutes {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($primaryColorLighter, 0.25);
              }
            }
            .fifteen-minutes {
              @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($primaryColorLighter, 0.25);
              }
            }
            &:hover {
              background-color: $primaryColor;
              .hour__part {
                border-color: $primaryColor;
              }
              .hour__time {
                background-color: transparent;
              }
            }
          }
          .blacked-out {
            background-color: $colorDarkGrey;
            .hour__time {
              background-color: transparent;
            }

            &:nth-of-type(2n) {
              background-color: $colorGrey;
            }

            &:nth-of-type(2n + 1) {
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
            }
            .hour__part.fifteen-minutes,
            .hour__part.thirty-minutes,
            .hour__part.one-hour {
              border-top-color: $colorLighterGrey;
              border-bottom-color: $colorLighterGrey;
              border: none;
            }

            &:hover {
              cursor: default;
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
              .hour__part.fifteen-minutes,
              .hour__part.thirty-minutes,
              .hour__part.one-hour {
                border-top-color: $colorLighterGrey;
                border-bottom-color: $colorLighterGrey;
                border: none;
              }
            }
          }
        }
        .modal {
          &--select-date,
          &--select-time {
            background-color: rgba($primaryColor, 0.975);
            &__date-picker-container {
              input,
              select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
              }

              select {
                option {
                  background-color: $primaryColorDark;
                }
              }
            }
          }

          &--select-date {
            .button {
              &--modal {
                border: 0.2rem solid rgba($colorOffWhite, 0.8);
                background-color: rgba($colorOffWhite, 0.25);
                &:hover {
                  border-color: $colorOffWhite;
                  background-color: $colorOffWhite;
                }
              }
            }
          }
          &--select-time {
            .form {
              &__input {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }

              &__select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }

              &__section {
                &--commPreference {
                  label {
                    border: 0.2rem groove rgba($colorOffWhite, 0.8);
                    transition: color 0.5s, background-color 0.5s;
                    &:first-of-type {
                      border-right-width: 0.1rem;
                    }
                    &:last-of-type {
                      border-left-width: 0.1rem;
                    }

                    &.clicked {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
              &--appointment {
                .button {
                  &--modal {
                    border: 0.2rem solid rgba($colorOffWhite, 0.8);
                    background-color: rgba($colorOffWhite, 0.25);
                    &:hover {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .blue-and-black {
    border-left: 0.3rem groove $primaryColorDark;
    border-right: 0.3rem groove $primaryColorDark;
    background-color: $primaryColorDark;
    .appoint-me-container {
      background-color: $primaryColor;
      &__sub-container {
        background-color: $colorDarkerGrey;
        &__heading {
          border-bottom: 0.3rem groove $primaryColorDark;
          .select-date-button {
            &:hover {
              background-color: $primaryColor;
              color: $colorOffWhite;
            }
          }
        }
        &__calendar {
          .hour {
            &:nth-of-type(2n) {
              background-color: rgba($primaryColorDark, 0.25);
            }
            &:nth-of-type(2n + 1) {
              .hour__time {
                background-color: rgba($colorDarkerGrey, 0.5);
              }
            }
            .one-hour {
              @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
            }
            .thirty-minutes {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($primaryColorLighter, 0.25);
              }
            }
            .fifteen-minutes {
              @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($primaryColorLighter, 0.25);
              }
            }
            &:hover {
              background-color: $primaryColor;
              .hour__part {
                border-color: $primaryColor;
              }
              .hour__time {
                background-color: transparent;
              }
            }
          }
          .blacked-out {
            background-color: $colorDarkGrey;
            .hour__time {
              background-color: transparent;
            }

            &:nth-of-type(2n) {
              background-color: $colorGrey;
            }

            &:nth-of-type(2n + 1) {
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
            }
            .hour__part.fifteen-minutes,
            .hour__part.thirty-minutes,
            .hour__part.one-hour {
              border-top-color: $colorLighterGrey;
              border-bottom-color: $colorLighterGrey;
              border: none;
            }

            &:hover {
              cursor: default;
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
              .hour__part.fifteen-minutes,
              .hour__part.thirty-minutes,
              .hour__part.one-hour {
                border-top-color: $colorLighterGrey;
                border-bottom-color: $colorLighterGrey;
                border: none;
              }
            }
          }
        }
        .modal {
          &--select-date,
          &--select-time {
            background-color: rgba($primaryColor, 0.975);
            &__date-picker-container {
              input,
              select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
              }

              select {
                option {
                  background-color: $primaryColorDark;
                }
              }
            }
          }

          &--select-date {
            .button {
              &--modal {
                border: 0.2rem solid rgba($colorOffWhite, 0.8);
                background-color: rgba($colorOffWhite, 0.25);
                &:hover {
                  border-color: $colorOffWhite;
                  background-color: $colorOffWhite;
                }
              }
            }
          }
          &--select-time {
            .form {
              &__input {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }

              &__select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }

              &__section {
                &--commPreference {
                  label {
                    border: 0.2rem groove rgba($colorOffWhite, 0.8);
                    transition: color 0.5s, background-color 0.5s;
                    &:first-of-type {
                      border-right-width: 0.1rem;
                    }
                    &:last-of-type {
                      border-left-width: 0.1rem;
                    }

                    &.clicked {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
              &--appointment {
                .button {
                  &--modal {
                    border: 0.2rem solid rgba($colorOffWhite, 0.8);
                    background-color: rgba($colorOffWhite, 0.25);
                    &:hover {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .green-and-white {
    border-left: 0.3rem groove $secondaryColorDark;
    border-right: 0.3rem groove $secondaryColorDark;
    background-color: $secondaryColorDark;
    .appoint-me-container {
      background-color: $secondaryColor;
      &__sub-container {
        background-color: $colorOffWhite;
        &__heading {
          border-bottom: 0.3rem groove $secondaryColorDark;
          .select-date-button {
            &:hover {
              background-color: $secondaryColor;
              color: $colorOffWhite;
            }
          }
        }
        &__calendar {
          .hour {
            &:nth-of-type(2n) {
              background-color: rgba($secondaryColorDark, 0.25);
            }
            &:nth-of-type(2n + 1) {
              .hour__time {
                background-color: rgba($colorOffWhite, 0.5);
              }
            }
            .one-hour {
              @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
            }
            .thirty-minutes {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($secondaryColorLighter, 0.25);
              }
            }
            .fifteen-minutes {
              @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($secondaryColorLighter, 0.25);
              }
            }
            &:hover {
              background-color: $secondaryColor;
              .hour__part {
                border-color: $secondaryColor;
              }
              .hour__time {
                background-color: transparent;
              }
            }
          }
          .blacked-out {
            background-color: $colorDarkGrey;
            .hour__time {
              background-color: transparent;
            }

            &:nth-of-type(2n) {
              background-color: $colorGrey;
            }

            &:nth-of-type(2n + 1) {
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
            }
            .hour__part.fifteen-minutes,
            .hour__part.thirty-minutes,
            .hour__part.one-hour {
              border-top-color: $colorLighterGrey;
              border-bottom-color: $colorLighterGrey;
              border: none;
            }

            &:hover {
              cursor: default;
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
              .hour__part.fifteen-minutes,
              .hour__part.thirty-minutes,
              .hour__part.one-hour {
                border-top-color: $colorLighterGrey;
                border-bottom-color: $colorLighterGrey;
                border: none;
              }
            }
          }
        }
        .modal {
          &--select-date,
          &--select-time {
            background-color: rgba($secondaryColor, 0.975);
            &__date-picker-container {
              input,
              select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
              }

              select {
                option {
                  background-color: $secondaryColorDark;
                }
              }
            }
          }

          &--select-date {
            .button {
              &--modal {
                border: 0.2rem solid rgba($colorOffWhite, 0.8);
                background-color: rgba($colorOffWhite, 0.25);
                &:hover {
                  border-color: $colorOffWhite;
                  background-color: $colorOffWhite;
                }
              }
            }
          }
          &--select-time {
            .form {
              &__input {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }

              &__select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }

              &__section {
                &--commPreference {
                  label {
                    border: 0.2rem groove rgba($colorOffWhite, 0.8);
                    transition: color 0.5s, background-color 0.5s;
                    &:first-of-type {
                      border-right-width: 0.1rem;
                    }
                    &:last-of-type {
                      border-left-width: 0.1rem;
                    }

                    &.clicked {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
              &--appointment {
                .button {
                  &--modal {
                    border: 0.2rem solid rgba($colorOffWhite, 0.8);
                    background-color: rgba($colorOffWhite, 0.25);
                    &:hover {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .green-and-black {
    border-left: 0.3rem groove $secondaryColorDark;
    border-right: 0.3rem groove $secondaryColorDark;
    background-color: $secondaryColorDark;
    .appoint-me-container {
      background-color: $secondaryColor;
      &__sub-container {
        background-color: $colorDarkerGrey;
        &__heading {
          border-bottom: 0.3rem groove $secondaryColorDark;
          .select-date-button {
            &:hover {
              background-color: $secondaryColor;
              color: $colorDarkerGrey;
            }
          }
        }
        &__calendar {
          .hour {
            &:nth-of-type(2n) {
              background-color: rgba($secondaryColorDark, 0.25);
            }
            &:nth-of-type(2n + 1) {
              .hour__time {
                background-color: rgba($colorDarkerGrey, 0.5);
              }
            }
            .one-hour {
              @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
            }
            .thirty-minutes {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($secondaryColorLighter, 0.25);
              }
            }
            .fifteen-minutes {
              @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($secondaryColorLighter, 0.25);
              }
            }
            &:hover {
              background-color: $secondaryColor;
              .hour__part {
                border-color: $secondaryColor;
              }
              .hour__time {
                background-color: transparent;
              }
            }
          }
          .blacked-out {
            background-color: $colorDarkGrey;
            .hour__time {
              background-color: transparent;
            }

            &:nth-of-type(2n) {
              background-color: $colorGrey;
            }

            &:nth-of-type(2n + 1) {
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
            }
            .hour__part.fifteen-minutes,
            .hour__part.thirty-minutes,
            .hour__part.one-hour {
              border-top-color: $colorLighterGrey;
              border-bottom-color: $colorLighterGrey;
              border: none;
            }

            &:hover {
              cursor: default;
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
              .hour__part.fifteen-minutes,
              .hour__part.thirty-minutes,
              .hour__part.one-hour {
                border-top-color: $colorLighterGrey;
                border-bottom-color: $colorLighterGrey;
                border: none;
              }
            }
          }
        }
        .modal {
          &--select-date,
          &--select-time {
            background-color: rgba($secondaryColor, 0.975);
            &__date-picker-container {
              input,
              select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
              }

              select {
                option {
                  background-color: $secondaryColorDark;
                }
              }
            }
          }

          &--select-date {
            .button {
              &--modal {
                border: 0.2rem solid rgba($colorDarkerGrey, 0.8);
                background-color: rgba($colorDarkerGrey, 0.25);
                &:hover {
                  border-color: $colorDarkerGrey;
                  background-color: $colorDarkerGrey;
                }
              }
            }
          }
          &--select-time {
            .form {
              &__input {
                border-bottom: 0.3rem groove rgba($colorDarkerGrey, 0.8);
                &:focus {
                  border-bottom-color: $colorDarkerGrey;
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }

              &__select {
                border-bottom: 0.3rem groove rgba($colorDarkerGrey, 0.8);
                &:focus {
                  border-bottom-color: $colorDarkerGrey;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }

              &__section {
                &--commPreference {
                  label {
                    border: 0.2rem groove rgba($colorDarkerGrey, 0.8);
                    transition: color 0.5s, background-color 0.5s;
                    &:first-of-type {
                      border-right-width: 0.1rem;
                    }
                    &:last-of-type {
                      border-left-width: 0.1rem;
                    }

                    &.clicked {
                      border-color: $colorDarkerGrey;
                      background-color: $colorDarkerGrey;
                    }
                  }
                }
              }
              &--appointment {
                .button {
                  &--modal {
                    border: 0.2rem solid rgba($colorDarkerGrey, 0.8);
                    background-color: rgba($colorDarkerGrey, 0.25);
                    &:hover {
                      border-color: $colorDarkerGrey;
                      background-color: $colorDarkerGrey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gold-and-white {
    border-left: 0.3rem groove $tertiaryColorDark;
    border-right: 0.3rem groove $tertiaryColorDark;
    background-color: $tertiaryColorDark;
    .appoint-me-container {
      background-color: $tertiaryColor;
      &__sub-container {
        background-color: $colorOffWhite;
        &__heading {
          border-bottom: 0.3rem groove $tertiaryColorDark;
          .select-date-button {
            &:hover {
              background-color: $tertiaryColor;
              color: $colorOffWhite;
            }
          }
        }
        &__calendar {
          .hour {
            &:nth-of-type(2n) {
              background-color: rgba($tertiaryColorDark, 0.25);
            }
            &:nth-of-type(2n + 1) {
              .hour__time {
                background-color: rgba($colorOffWhite, 0.5);
              }
            }
            .one-hour {
              @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
            }
            .thirty-minutes {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($tertiaryColorLighter, 0.25);
              }
            }
            .fifteen-minutes {
              @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($tertiaryColorLighter, 0.25);
              }
            }
            &:hover {
              background-color: $tertiaryColor;
              .hour__part {
                border-color: $tertiaryColor;
              }
              .hour__time {
                background-color: transparent;
              }
            }
          }
          .blacked-out {
            background-color: $colorDarkGrey;
            .hour__time {
              background-color: transparent;
            }

            &:nth-of-type(2n) {
              background-color: $colorGrey;
            }

            &:nth-of-type(2n + 1) {
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
            }
            .hour__part.fifteen-minutes,
            .hour__part.thirty-minutes,
            .hour__part.one-hour {
              border-top-color: $colorLighterGrey;
              border-bottom-color: $colorLighterGrey;
              border: none;
            }

            &:hover {
              cursor: default;
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
              .hour__part.fifteen-minutes,
              .hour__part.thirty-minutes,
              .hour__part.one-hour {
                border-top-color: $colorLighterGrey;
                border-bottom-color: $colorLighterGrey;
                border: none;
              }
            }
          }
        }
        .modal {
          &--select-date,
          &--select-time {
            background-color: rgba($tertiaryColor, 0.975);
            &__date-picker-container {
              input,
              select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
              }

              select {
                option {
                  background-color: $tertiaryColorDark;
                }
              }
            }
          }

          &--select-date {
            .button {
              &--modal {
                border: 0.2rem solid rgba($colorOffWhite, 0.8);
                background-color: rgba($colorOffWhite, 0.25);
                &:hover {
                  border-color: $colorOffWhite;
                  background-color: $colorOffWhite;
                }
              }
            }
          }
          &--select-time {
            .form {
              &__input {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }

              &__select {
                border-bottom: 0.3rem groove rgba($colorOffWhite, 0.8);
                &:focus {
                  border-bottom-color: $colorOffWhite;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }

              &__section {
                &--commPreference {
                  label {
                    border: 0.2rem groove rgba($colorOffWhite, 0.8);
                    transition: color 0.5s, background-color 0.5s;
                    &:first-of-type {
                      border-right-width: 0.1rem;
                    }
                    &:last-of-type {
                      border-left-width: 0.1rem;
                    }

                    &.clicked {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
              &--appointment {
                .button {
                  &--modal {
                    border: 0.2rem solid rgba($colorOffWhite, 0.8);
                    background-color: rgba($colorOffWhite, 0.25);
                    &:hover {
                      border-color: $colorOffWhite;
                      background-color: $colorOffWhite;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gold-and-black {
    border-left: 0.3rem groove $tertiaryColorDark;
    border-right: 0.3rem groove $tertiaryColorDark;
    background-color: $tertiaryColorDark;
    .appoint-me-container {
      background-color: $tertiaryColor;
      &__sub-container {
        background-color: $colorDarkerGrey;
        &__heading {
          border-bottom: 0.3rem groove $tertiaryColorDark;
          .select-date-button {
            &:hover {
              background-color: $tertiaryColor;
              color: $colorDarkerGrey;
            }
          }
        }
        &__calendar {
          .hour {
            &:nth-of-type(2n) {
              background-color: rgba($tertiaryColorDark, 0.25);
            }
            &:nth-of-type(2n + 1) {
              .hour__time {
                background-color: rgba($colorDarkerGrey, 0.5);
              }
            }
            .one-hour {
              @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
            }
            .thirty-minutes {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($tertiaryColorLighter, 0.25);
              }
            }
            .fifteen-minutes {
              @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &:not(:last-of-type) {
                border-bottom: 0.2rem dashed rgba($tertiaryColorLighter, 0.25);
              }
            }
            &:hover {
              background-color: $tertiaryColor;
              .hour__part {
                border-color: $tertiaryColor;
              }
              .hour__time {
                background-color: transparent;
              }
            }
          }
          .blacked-out {
            background-color: $colorDarkGrey;
            .hour__time {
              background-color: transparent;
            }

            &:nth-of-type(2n) {
              background-color: $colorGrey;
            }

            &:nth-of-type(2n + 1) {
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
            }
            .hour__part.fifteen-minutes,
            .hour__part.thirty-minutes,
            .hour__part.one-hour {
              border-top-color: $colorLighterGrey;
              border-bottom-color: $colorLighterGrey;
              border: none;
            }

            &:hover {
              cursor: default;
              background-color: $colorDarkGrey;
              .hour__time {
                background-color: transparent;
              }
              .hour__part.fifteen-minutes,
              .hour__part.thirty-minutes,
              .hour__part.one-hour {
                border-top-color: $colorLighterGrey;
                border-bottom-color: $colorLighterGrey;
                border: none;
              }
            }
          }
        }
        .modal {
          &--select-date,
          &--select-time {
            background-color: rgba($tertiaryColor, 0.975);
            &__date-picker-container {
              input,
              select {
                border-bottom: 0.3rem groove rgba($colorDarkerGrey, 0.8);
              }

              select {
                option {
                  background-color: $tertiaryColorDark;
                }
              }
            }
          }

          &--select-date {
            .button {
              &--modal {
                border: 0.2rem solid rgba($colorDarkerGrey, 0.8);
                background-color: rgba($colorDarkerGrey, 0.25);
                &:hover {
                  border-color: $colorDarkerGrey;
                  background-color: $colorDarkerGrey;
                }
              }
            }
          }
          &--select-time {
            .form {
              &__input {
                border-bottom: 0.3rem groove rgba($colorDarkerGrey, 0.8);
                &:focus {
                  border-bottom-color: $colorDarkerGrey;
                }
                &--hour,
                &--minute,
                &--email,
                &--phone {
                  @extend .form__input;
                }
              }

              &__select {
                border-bottom: 0.3rem groove rgba($colorDarkerGrey, 0.8);
                &:focus {
                  border-bottom-color: $colorDarkerGrey;
                }
                &--hour,
                &--minute {
                  @extend .form__select;
                }
              }

              &__section {
                &--commPreference {
                  label {
                    border: 0.2rem groove rgba($colorDarkerGrey, 0.8);
                    transition: color 0.5s, background-color 0.5s;
                    &:first-of-type {
                      border-right-width: 0.1rem;
                    }
                    &:last-of-type {
                      border-left-width: 0.1rem;
                    }

                    &.clicked {
                      border-color: $colorDarkerGrey;
                      background-color: $colorDarkerGrey;
                    }
                  }
                }
              }
              &--appointment {
                .button {
                  &--modal {
                    border: 0.2rem solid rgba($colorDarkerGrey, 0.8);
                    background-color: rgba($colorDarkerGrey, 0.25);
                    &:hover {
                      border-color: $colorDarkerGrey;
                      background-color: $colorDarkerGrey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
