@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

////////////////////////////////////////////////
//  Master Grid Container
.r__master-grid {
  .r__master-flex-container {
    /////////////////
    // Home Page
    @include combo-max-responsive(930px, 425px) {
      &__child-flex-container {
        @include SizeAndPositioning(relative, 75%, 85%, flex, center, center, 0, 0, 0);
        flex-direction: column;
        &__heading {
          @include SizeAndPositioning(relative, 80%, 100%, flex, space-evenly, center, 0, 0, 0);
          flex-direction: column;
          &--subtext-start {
            position: relative;
            align-self: flex-start;
            transform: translate(4.75rem, 4.75rem);
            -moz-transform: translate(3.75rem, 4.75rem);
          }
          &--subtext-end {
            position: relative;
            align-self: flex-end;
            transform: translate(-6.5rem, -5.75rem);
            -moz-transform: translate(-5.875rem, -5.75rem);
          }
        }
      }
    }
  }
}
