@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

////////////////////////////////////////////////
//  TV NAVIGATION

.r__grid {
  .r__navigation {
    @include responsiveBreakPoint('tv') {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
    }
  }
  .r__time-toggle {
    @include responsiveBreakPoint('tv') {
      width: 5.5%;
      transform: translateY(-42%);
    }
  }
}
