@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

.r__month-container {
  @include responsiveBreakPoint('largeMobilePort') {
    @include SizeAndPositioning(relative, 62.5rem, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
    border: 0.3rem solid $primaryColor;
    border-radius: 0;
    padding: 0.25rem;
    overflow-y: auto;
    &__header {
      @include SizeAndPositioning(relative, 6rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      background-color: $primaryColor;
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
      border-radius: 0;
      border-bottom: 0.3rem solid $tertiaryColor;
      &__icon {
        @include SizeAndPositioning(absolute, 3rem, 3rem, flex, row, nowrap, center, center, 0, -50%, 0);
        top: 50%;
        left: 1rem;
      }
    }
    &__overall-budget-summary-container {
      @include SizeAndPositioning(relative, max-content, 100%, flex, column, nowrap, space-between, center, 0, 0, 0);
      &--single-summary {
        @include SizeAndPositioning(relative, 20%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
        background-color: $colorLightestGrey;
        padding: 0.5rem 0;
        &__title,
        &__amount {
          @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
        }
      }
    }
    &__category-container {
      // @include SizeAndPositioning(relative, 42.5rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      @include SizeAndPositioning(relative, 80rem, 100%, flex, column, nowrap, center, center, 0, 0, 0);
      padding: 0;
      overflow-y: visible;
      .r__main-category-display {
        @include SizeAndPositioning(relative, 50rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
        &__button-container {
          @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
          .r__left,
          .r__right {
            transition: color 0.5s;
            &:hover {
              cursor: pointer;
            }
          }
        }
        &__category-display {
          @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          &__title {
            margin-top: 2rem;
          }
        }
      }
      .r__sub-category-display {
        @include SizeAndPositioning(relative, 50rem, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
        margin-left: 0rem;
        overflow-y: auto;
        &__headers {
          @include SizeAndPositioning(relative, 4rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
          min-height: 4rem;
          &__title-container {
            @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}

.r__timing-container {
  @include responsiveBreakPoint('largeMobilePort') {
    @include SizeAndPositioning(sticky, 100%, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
    background-color: rgba($colorOffWhite, 0.9);
    min-height: 100%;
    overflow-y: auto;
    top: 4rem;
    left: 0;
    z-index: 10;
    &__closure-icon {
      @include SizeAndPositioning(absolute, 4rem, 4rem, flex, row, nowrap, center, center, 0, 0, 0);
      top: 2rem;
      right: 1rem;
      &:hover {
        cursor: pointer;
        transition: color 0.5s;
      }
      z-index: 5;
    }
    &__section {
      @include SizeAndPositioning(relative, min-content, 100%, flex, column, nowrap, center, center, 0, 0, 0);
      &__label {
        @include SizeAndPositioning(relative, 5rem, 70%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
        border: 0.3rem solid rgba($primaryColor, 0.8);
        border-radius: 0.8rem;
        padding: 1rem;
        margin: 0.25rem 0;
        &:first-of-type {
          margin-top: 0.5rem;
        }
        &:last-of-type {
          margin-bottom: 0.5rem;
        }
        &:focus {
          border: 0.3rem solid $primaryColor;
        }
        &__input,
        &__select {
          background-color: rgba($colorOffWhite, 0.25);
          border: 0.2rem solid rgba($primaryColor, 0.8);
          border-radius: 0.6rem;
          padding: 0.2rem;
          &:focus {
            border: 0.2rem solid $primaryColor;
            outline: none;
          }
        }
      }
      .element-hidden {
        display: none;
      }
    }
    &__hidden {
      display: none;
    }
  }
}
